.categories {
  display: flex;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 320px;
  max-width: 400px;
  margin: 16px;
  background-color: white;
}

.category-card img {
  max-width: 240px;
  max-height: 240px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .categories {
    justify-content: center;
  }
}
