.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d8e3e7;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border: 1px solid black;
  }

  
@media screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }
}
